<div>



     <div class="panel">
           
            <div class="panel-heading">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$.lazybox.close()">&times;</button>
                Información Arl
            </div>
           
           
            <div class="panel-body">
              <div class="col-md-12">
                <strong>Nombre: </strong> <%= @arl.nombre %>
              </div><!-- .col-md-3 -->

        
            </div><!-- .panel-body -->
            
            <div class="panel-footer">
                    <a href="#" class="btn btn-info color_blanco custom" onclick="$.lazybox.close()">Cerrar</a>

            </div>
    
      </div><!-- .panel -->


</div>


<style type="text/css">
  .panel-heading{
    background-color: #20B4BF !important;
    color: #FFFFFF;
  }

  .custom{
    background-color: #20B4BF !important;
    color: #FFFFFF;
  }


  .panel{
    border-color: #20B4BF;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  }
</style>


