<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error state</title>
<link rel="shortcut icon" href="../favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link type="text/css" href="../styles/fontAwesome.css" rel="stylesheet"  media="screen"/>
<link type="text/css" href="../styles/prosto-forms.min.css" rel="stylesheet" media="screen"/>
<link type="text/css" href="../styles/prosto-forms-all.min.css" rel="stylesheet" media="screen"/>
<link type="text/css" href="../styles/demo.css" rel="stylesheet" media="screen"/>
 
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins/plugin.forms.min.js"></script>
<script type="text/javascript" src="../scripts/helpers/helpers.js"></script>
<script type="text/javascript" src="../scripts/helpers/wrenchbar.js"></script>
<script type="text/javascript" src="../scripts/commons.js"></script>

<script type="text/javascript">
  
</script>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body class="f_small f_regular lblue">
<fieldset>
      <section>
        <label class="label">Columned checkboxes</label>
        <div class="row">
          <div class="unit span4">
            <label class="checkbox"><input type="checkbox" name="checkbox" checked="" id="object_checkbox_29_checkbox"><i></i>Alexandra</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" id="object_checkbox_30_checkbox"><i></i>Alice</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" id="object_checkbox_31_checkbox"><i></i>Anastasia</label>
          </div>
          <div class="unit span4">
            <label class="checkbox"><input type="checkbox" name="checkbox" id="object_checkbox_32_checkbox"><i></i>Avelina</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" id="object_checkbox_33_checkbox"><i></i>Basilia</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" id="object_checkbox_34_checkbox"><i></i>Beatrice</label>
          </div>
          <div class="unit span4">
            <label class="checkbox"><input type="checkbox" name="checkbox" id="object_checkbox_35_checkbox"><i></i>Cassandra</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" id="object_checkbox_36_checkbox"><i></i>Clemencia</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" id="object_checkbox_37_checkbox"><i></i>Desiderata</label>
          </div>
        </div>
      </section>
      <section>
        <label class="label">Inline checkboxes</label>
        <div class="inline-group">
          <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked="" id="object_checkbox_38_checkbox-inline"><i></i>Alexandra</label>
          <label class="checkbox"><input type="checkbox" name="checkbox-inline" id="object_checkbox_39_checkbox-inline"><i></i>Alice</label>
          <label class="checkbox"><input type="checkbox" name="checkbox-inline" id="object_checkbox_40_checkbox-inline"><i></i>Anastasia</label>
          <label class="checkbox"><input type="checkbox" name="checkbox-inline" id="object_checkbox_41_checkbox-inline"><i></i>Avelina</label>
          <label class="checkbox"><input type="checkbox" name="checkbox-inline" id="object_checkbox_42_checkbox-inline"><i></i>Beatrice</label>
        </div>
      </section>
    </fieldset>

</body>
</html>
