<div class="padding">
<div class="full col-sm-9">


<div id="content">
        <section>

          <div class="section-body contain-lg">


            <!-- BEGIN RESPONSIVE TABLE 1 -->
            <div class="row">

              <div class="col-md-12">
                <article class="margin-bottom-xxl">




                    <%= form_tag request.path, :method => 'get', :class => '' do %>

<div>
  <div class="row">

    <div class="col-lg-12">
    <h1 class="title">Listado de  <span>Roles</span></h1>

            <div class="input-group custom-search-form">
              <%= text_field_tag :search, params[:search], :placeholder => "Busca por el Nombre", :class => 'form-control' %>
              <span class="input-group-btn">


<%= button_tag(type: "submit", class: "btn btn-primary") do %>
              <span class="glyphicon glyphicon-search"></span>
                          <% end %>

             </span>
             </div><!-- /input-group -->
        </div>
  </div>
</div>
                    <% end %>






<div class="row new_blog">
<div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;"></div>
</div>








<div class="row">
  <div class="col-md-12 " id="tasks">
    <%= render partial: "display" %>
  </div>
</div>
</div>





                                    
             