

<br/>
<div class="nested-fields">
  <div class="container-fluid">
      <div class="well clearfix inicio">
      <div class="row">
        <div class="col-md-3">
          <%= f.text_field :tratamiento, class: 'form-control', :placeholder => "Tratamiento" %>
        </div>

        <div class="col-md-3">

          <%= f.text_field :via_acceso, class: 'form-control', :placeholder => "Via Acceso" %>

        </div>

        <div class="col-md-3">
            
          <%= f.text_field :descripcion, class: 'form-control', :placeholder => "Descripción" %>

        </div>

        <div class="col-md-3">
          <%= link_to_remove_association 'Eliminar', f, :class => "btn btn-danger color_blanco custom btn-sm" %>

        </div>

      </div>

    </div>
  </div>
</div>

<style type="text/css">
  .inicio
{

    margin-bottom: 0px;
    padding: 10px;
    height: 60px;
}
.btn-danger{
  margin-top: 0px !important;
  margin-right: 20px;
}

</style>

