<div class="container new_blog">
  <div class="centered title new_blog"><h3>Información para la Ciudad</h3></div>
     </div>
     <hr class="featurette-divider"></hr>
         <div class="container new_blog">
            <div class="row">
                <div class="col-sm-6">
                  <div class="tab-content">
                    <div id="stripe" class="tab-pane fade in active">
                      <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                          <%= simple_form_for(@city, :html => { :class => 'contact-form', :id => 'contact-form'  }, :remote => true) do |f| %>
                            <%= f.error_notification %>
                              <br>
                                <div class='form-row'>
                                <div class='form-group required'>
                                  <div class='error form-group hide'>
                                    <div class='alert-danger alert'>
                                        Please correct the errors and try again.  
                                    </div>
                                  </div>
                                  <label class='control-label new_blog'>Nombre</label>
                                  <%= f.input :name,  placeholder: 'Campo Obligatorio', input_html: {class: "form-control new_blog"}, label: false,  :required => true %>
                                </div>              
       
                                </div>
                             
                                  <div class='form-row'>
                                    <div class='form-group'>
                                               <label class='control-label'></label>
                                            
                                                <%= f.submit "Guardar", :class => 'form-control btn btn-primary new_blog' %>

                                      
                                    </div>
                                  </div>    
                          

                      
                            <% end %>    

