<!-- Footer -->
<div class="cta-mail">
    <div class="container-fluid text-center">
        <h2>Comuníquese con Nosotros:</h2>
        <h4>Información Nacional e Internacional: Asistencia médica (57)(1) 2205674 celular-movil (57) 3002221245</h4>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 footer-below">
                <div align="left" class="col-md-offset-3">
                    <h5>Administrativos:</h5>
                    <h5>Sede Administrativa: (57)(4)4488410</h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 footer-below">
                <div align="left" class="col-md-offset-4">
                    <h5>Asistenciales:</h5>
                    <h5>Aeropuerto Bogotá: (57)(1) 2205674 / 3002221245</h5>
                    <h5>Aeropuerto Medellín: (57)(4) 3656171 / 3007042683</h5>
                    <h5>Aeropuerto Rionegro: 3002214168</h5>
                </div>
            </div>
        </div>
        <h4>Contacto: info@aerosanidadsas.com</h4>
        <div class="pull-right">
            <b>Versión 1.0.0</b>
        </div>
        <!-- End MailChimp Signup Form -->
    </div>
</div>




